.w-100 {
    width: 100%;
}
.w-50 {
    width: 50%;
}
.w-300 {
    width: 300px;
}
.w-500 {
    width: 500px;
}
.h-100 {
    height: 100%;
}
.h-50 {
    height: 50%;
}
.h-300 {
    height: 300px;
}
.h-500 {
    height: 500px;
}