* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    width: 150px;
    height: 40px;
    background-color: lightblue;
    text-align: center;
}

.active {
    font-size: 20px;
    color: red;
}