.btn {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid $primary;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    color: $dark;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    line-height: 1.5;
    transition: all 0.2s;
    &:hover {
        background-color: lighten($primary, 10%);
        color: #fff;
    }
    &-primary {
        background-color: $primary;
        border-color: $primary;
        color: #fff;
        &:hover {
            background-color: darken($primary, 10%);
        }
    }
    &-success {
        background-color: $success;
        border-color: $success;
        color: #fff;
        &:hover {
            background-color: darken($success, 10%);
        }
    }
    &-danger {
        background-color: $danger;
        border-color: $danger;
        color: #fff;
        &:hover {
            background-color: darken($danger, 10%);
        }
    }
    &-warning {
        background-color: $warning;
        border-color: $warning;
        color: #fff;
        &:hover {
            background-color: darken($warning, 10%);
        }
    }
    &-dark {
        background-color: $dark;
        border-color: $dark;
        color: #fff;
        &:hover {
            background-color: darken($dark, 10%);
        }
    }
    &-outline-primary {
        border-color: $primary;
        color: $primary;
        &:hover {
            background-color: $primary;
        }
    }
    &-outline-success {
        border-color: $success;
        color: $success;
        &:hover {
            background-color: $success;
        }
    }
    &-outline-danger {
        border-color: $danger;
        color: $danger;
        &:hover {
            background-color: $danger;
        }
    }
    &-outline-warning {
        border-color: $warning;
        color: $warning;
        &:hover {
            background-color: $warning;
        }
    }
    &-outline-dark {
        border-color: $dark;
        color: $dark;
        &:hover {
            background-color: $dark;
        }
    }
    &-block {
        display: block;
        width: 100%;
    }
}