.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0, .5);
    &-dialog {
        max-width: 500px;
        margin: 40px auto;
    }
    &-content {
        position: relative;
        width: 100%;
        background-color: #fff;
        border: 1px solid rgba(0,0,0, .2);
        border-radius: 4px;
        max-height: 80vh;
        overflow-y: auto;
        .close {
            position: absolute;
            top: 10px;
            right: 14px;
            font-size: 30px;
            color: #000;
            opacity: .5;
            font-weight: 700;
            border: none;
            background-color: transparent;
            cursor: pointer;
        }
    }
    &-header, &-body {
        padding: 15px;
        border-bottom: 1px solid #dee2e6;
    }
    &-title {
        font-weight: 500;
        font-size: 20px;
    }
    &-footer {
        padding: 15px;
    }
}