.p10 {
    padding: 10px;
}
.p20 {
    padding: 20px;
}
.pt-10 {
    padding-top: 10px;
}
.pr-10 {
    padding-right: 10px;
}
.pb-10 {
    padding-bottom: 10px;
}
.pl-10 {
    padding-left: 10px;
}
.pt-20 {
    padding-top: 20px;
}
.pr-20 {
    padding-right: 20px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pl-20 {
    padding-left: 20px;
}